#board {
  margin-top: 10px;
  /*border: 1px solid black;*/
}

.box {
  border: 1px solid black;
  min-height: 216px;
  background-color: lavender;
}

.played.X{
  color: purple;
  font-size: 150px;
  text-align:center;
}

.played.O{
  color: orange;
  font-size: 150px;
}
